* {padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
} 

button {
    border: none;
    background-color: transparent;
}
body {
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: rgba(10, 97, 247, 1);
    padding: 14px 0;
}

.logo {
}

.nav_menu {
    font-family: Rubik;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.main_title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: 0px;
    margin-bottom: 30px;
}

.text {
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: rgba(149, 161, 187, 1);
    margin-bottom: 40px;
}

.button {
    width: 152px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(10, 97, 247, 1);
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}



.footer {
    background-color: rgba(10, 97, 247, 1);
    text-align: center;
    padding: 20px 0;
}

.copy {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;

}